<nav id="sidebar">
  <div class="sidebar-header">
      <img id="logo-img" />
  </div>

  <ul class="list-unstyled components">
      <!--p>Dummy Heading</p-->

      <!--li class="active"><a routerLink="/dashboards" routerLinkActive="active">Dashboards</a></li-->
      <!--li><a routerLink="/layouts">Layouts</a></li-->
      <!--li><a routerLink="/graphs">Graphs</a></li-->
      <!--li><a routerLink="/mailbox">Mailbox</a></li-->
      <!--li><a routerLink="/metrics">Metrics</a></li-->
      <!--li><a routerLink="/widgets">Widgets</a></li-->
      <!--li><a routerLink="/forms">Forms</a></li-->
      <!--li><a routerLink="/appviews">App Views</a></li-->
      <!--li><a routerLink="/charts">Charts</a></li-->
      <li class="dropdown">
        <a routerLink="/formelements/datepicker">Datepicker</a>
      </li>
      <li class="dropdown">
        <a routerLink="/formelements/textinput">Text Input</a>
      </li>
      <!--li><a routerLink="/gridoptions">Grid Options</a></li-->
      <!--li><a routerLink="/tables">Tables</a></li-->
      <!--li><a routerLink="/menulevels">Menu Levels</a></li-->

  </ul>

</nav>
<div style="width:100%; height:100%; padding:40px;">
  <router-outlet></router-outlet>
</div>
